.form {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 30px;
}
.form h2 {
  color: var(--primary-color);
  margin-bottom: 25px !important ;
  margin: auto;
}

.form p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--error-color);
}

.form span {
  color: var(--p-color);
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.form input {
  margin: 10px 0 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.form select {
  margin: 10px 0 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px 10px;
}

/* .form select:focus {
  outline: none;
  border: 2px solid var(--primary-color) !important;
} */
.form button {
  width: 30%;
  color: var(--secondary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  margin-bottom: 25px;
  margin: auto;
  margin-top: 20px;
  font-size: 1rem;
}

.twins {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.side {
  display: flex;
  flex-direction: column;
}
