@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --primary-color: rgb(69, 140, 151);
  --secondary-color: #fff;
  --border-color: silver;
  --p-color: grey;
  --error-color: tomato;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: scale(1.05); /* Slightly enlarge button on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow on hover */
}

button:active {
  transform: scale(0.98); /* Button shrinks slightly when clicked */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Stronger shadow on active state */
}

input,
select,
textarea {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--primary-color) !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transform: scale(1.05); /* Slightly enlarge button on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow on hover */
  border-radius: 5px;
}
h1 {
  color: var(--primary-color);
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
