:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --primary-color: rgb(166, 148, 11);
  --secondary-color: #fff;
  --border-color: silver;
  --p-color: grey;
  --error-color: tomato;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
input {
  padding: 5px 10px;
}
input:focus {
  outline: none;
  border: 2px solid var(--primary-color)  !important;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  color: var(--primary-color);
}
