.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.header button {
  margin-right: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.navbar {
  display: flex;
  flex-direction: row;
}
.navbar a {
  margin-right: 30px;
}

@media (max-width: 768px) {
  button {
    font-size: 0.8rem;
  }
  .logo {
    display: none;
  }
}
